# 表示忽略 node_modules/目录下的所有文件，过滤整个node_modules文件夹
# 另一种写法：/node_modules（由于node_modules在项目根目录下，表示仅仅忽略项目根目录下的 node_modules 文件，不包括 XXX/node_modules）
node_modules/
dist/

# 以星号"*"通配多个字符，即匹配多个任意字符
npm-debug.log*
yarn-debug.log*
yarn-error.log*

yarn.lock

# 以星号"*"通配多个字符，即匹配多个任意字符
.idea/
.vscode/*

# misc
.DS_Store